@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: pink;
    outline: 1px solid red;
}

::-webkit-scrollbar {
    width: 1em;
}

.message {
    background-color: #f0f0f0; 
    color: black;
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: 10px;
  }
  
.user-message {
    background-color: #007bff; 
    color: white;
    text-align: right;
}

.assistant-message {
    background-color: #e0e0e0; 
    text-align: left;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 200px; 
    overflow-y: scroll;
}